# Snakemake and showyourwork temporaries
**/.snakemake
**/.showyourwork*

# Showyourwork output files
/*.pdf
report.html
arxiv.tar.gz
CE_accretors.pdf

# Figure output
src/tex/figures/*

# Miscellaneous
__pycache__
.DS_Store
